header {
  position: fixed;
  width: 100%;
  padding: 5px;
  top: 0;
  left: 0;
  color: #FFF;
	z-index: $z-header;
	background: $logoBkgdColor;

	a {
    color: #FFF;
    text-transform: uppercase;

  }

}
